[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "themes/pelican-alchemy/"]
	url = git@github.com:OCNS/pelican-alchemy.git
	path = themes/pelican-alchemy
	branch = main-softwarewg
